.minimized-person {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: var(--minimized-person-width);
  height: var(--minimized-person-height);
  margin: var(--minimized-person-margin);
  border-radius: var(--border-radius);
  border: var(--minimized-person-border) solid gray;
  box-shadow: var(--minimized-person-margin) var(--minimized-person-margin) lightgray;

  scroll-snap-align: center;
  transition: all .1s ease-in-out;
}

.minimized-person:hover {
  transform: scale(var(--minimized-person-scale-on-hover));
  background-color: lightgray;
}

img {
  height: 17vh;
  padding: 1vh;
  border-radius: var(--border-radius);
  aspect-ratio: 3 / 2 ;
  pointer-events: none;
} 

p {
  font-size: larger;
  padding: 0.5vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}