<div class="full-person">
  <img src="{{ profile_picture_url }}" />
  <div class="full-person-description">
    <p>Member {{ member.PersonID }}:</p>
    <p>{{ member.ParliamentaryName }}</p>
    <p>{{ birth_date }}</p>
  </div>
  <div class="full-person-extra-data">
    <h3>Parties</h3>
    <hr>
    <ul>
      <li *ngFor="let party of parties">{{ party }}</li>
    </ul>
  </div>
  <div class="full-person-extra-data">
    <h3>Websites</h3>
    <hr>
    <ul>
      <li *ngFor="let website of websites">
        <a [href]="website" target="_blank">{{ website }}</a>
      </li>
    </ul>
  </div>
</div>
