<div class="full-person">
  <img src="{{ membersService.getProfilePicture(member) }}" />
  
  <div class="full-person-description">
    <p>Member {{ member.PersonID }}:</p>
    <p>{{ member.ParliamentaryName }}</p>
    <p>{{ membersService.getBirthDate(member) }}</p>
  </div>
 
  <div class="full-person-extra-data">
    <h3>Parties</h3>
    <hr>
    <ul>
      <li *ngFor="let party of partiesService.getPersonParties(personId)">{{ party }}</li>
    </ul>
  </div>
  
  <div class="full-person-extra-data">
    <h3>Websites</h3>
    <hr>
    <ul>
      <li *ngFor="let website of websiteService.getWebsiteUrls(personId)">
        <a [href]="website" target="_blank">{{ website }}</a>
      </li>
    </ul>
  </div>
</div>
