.full-person {
  padding-top: var(--header-size);
  padding-left: var(--main-lateral-padding);
  padding-right: var(--main-lateral-padding); 

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

img {
  height: var(--full-person-img-height);
  aspect-ratio: 3 / 2 ;
  border-radius: var(--border-radius);
} 

.full-person-description {
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
}

.full-person-extra-data {
  font-size: x-large;
}

.full-person-extra-data hr, 
.full-person-extra-data p, 
.full-person-extra-data h3 {
  width: 90%;
  margin-right: 10%;
}